#logo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.jumbotron {
    background: white;
}

/* add background image */
/* figure out how to stop elements from moving slightly??? */
/* organize and space elements better */
/* change fonts and text styles */
/* add imgs/gifs to win/lose/timeout screens */
/* add sound effects */